<app-nav-bar-component></app-nav-bar-component>
<div class="container" >
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-md-9 col-lg-7 col-xl-7">
      <div class="card m-5 shadow p-3 mb-5 bg-body" style="border-radius: 15px;">
        <div class="card-body p-4">
<!--    <div class="col-6" style="margin-top: 50px">-->
      <h2>User Login</h2><br>
      <form (ngSubmit)="onSubmit(f.value)" #f="ngForm" >
        <div class="input-group mb-3 form-group">
          <span class="input-group-text" id="basic-addon1">Email</span>
          <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2" ngModel name="email" required email #email="ngModel">

        </div>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid Email address !</span>
        <div class="input-group mb-3 form-group">
          <span class="input-group-text" id="basic-addon2">Password</span>
          <input type="Password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon2" ngModel name="password" required>
        </div>
        <p *ngIf="invalidCred" class="help-block">Invalid Credentials</p>
        <button class="btn btn-primary m-0" type="submit" [disabled]="!f.valid" >Submit</button>
        <div class="form-group"><br>
        <a routerLink="/register" class="link-primary">Not a User ? Register</a>
        </div>
      </form>
    </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->

